* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
}


body {
    font-family: 'Segoe UI', Tahoma, sans-serif;

    background-image: url("../Imagenes/Fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--texto);
    display: flex;
    flex-direction: column;
}


header {
    background: linear-gradient(90deg, var(--primario), var(--secundario));
    color: white;
    padding: 35px;
    text-align: center;
}


section {
    background-color: rgba(255, 255, 255, 0.93);
    max-width: 1250px;
    margin: 70px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: var(--sombra);

    flex: 1;
}

h1, h2 {
    margin-bottom: 15px;
}
p {
    margin-bottom: 15px;
    line-height: 1.6;
}
ul {
    margin-left: 25px;
}
li {
    margin-bottom: 10px;
}

footer {
    background-color: var(--footer);
    color: rgb(35, 124, 151);
    text-align: center;
    padding: 18px;
}
