
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-image: url("../Imagenes/Fondo.jpg");
    background-size: cover;          
    background-position: center;    
    background-repeat: no-repeat;
    color: var(--texto);

    display: flex;
    flex-direction: column;
    min-height: 100vh;             
}

body {
    background-attachment: fixed;
}

header {
    background: linear-gradient(90deg, var(--primario), var(--secundario));
    color: white;
    padding: 5%;
    text-align: center;
}


nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* se acomoda solo */
    background-color: var(--primario);
}

nav a {
    color: white;
    padding: 12px 18px;
    text-decoration: none;
}


section {
    background-color: rgba(255, 255, 255, 0.93);
    max-width: 90%;
    margin: 5% auto;
    padding: 4%;
    border-radius: 20px;
    box-shadow: var(--sombra);
    flex: 1;
}


h1, h2 {
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
    line-height: 1.6;
}

ul {
    margin-left: 5%;
}

li {
    margin-bottom: 10px;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 15px auto;
    border-radius: 10px;
}


.boton {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 22px;
    background-color: var(--primario);
    color: white;
    text-decoration: none;
    border-radius: 8px;
}


footer {
    background-color: var(--footer);
    color: rgb(35, 124, 151);
    text-align: center;
    padding: 3%;
}
